@charset "UTF-8";

.header_123 a:link {
	text-decoration: none;
	color: black;
}

.header_123 a:visited {
	text-decoration: none;
	color: black;
}

.header_123 a:hover {
	text-decoration: none;
	color: black;
}

.close {
	display: none;
}

.open {
	display: block;
}

.header_123 {
	width: 100%;
	height: 120px;
	background-color: black;
	border-bottom: 1px solid black;
}

.name_page {
	color: white!important;
	font-size: 32px;
	margin: 15px 60px 0 20px;
	float: left;
}

.navbar_123 {
	width: 100%;
	height: 200px;
	padding-top: 30px;
}

.nav_content {
	height: auto;
}

.nav_name {
	width: auto;
	float: left;
	margin-right: 13%;
	font-size: 20px;
	font-weight: bold;
	color: white;
	margin-top: 45px;
}

.nav_name1 {
	width: auto;
	float: left;
	margin-right: 13%;
	font-size: 20px;
	font-weight: bold;
	color: black;
}

.nav_name1 a {
	
	color: black;
	font-weight:bold;
}
.nav_name1 p {
	
	
	margin-bottom: 1rem;
}



.logsign {
	height: auto;
	float: right;
	font-weight: bold;
	margin-top: 7px;
	margin-right: 20px;
}

.loglog {
	color: white!important;
}

.outsign {
	font-weight: bold;
	position: relative;
	left: 134.5px;
	top: -44px;
	visibility: hidden;
}

.navbar_123 {
	display: none;
	background-color: #ebeff2;
	position: absolute;
	z-index: 6;
}

.main_button {
	float: right;
}

.header_123:hover+.navbar_123 {
	display: block;
}

.navbar_123:hover {
	display: block;
}

.mobile_button {
	float: right;
	display: none;
}

.mobile_button_close {
	float: right;
	display: none;
}

#button_all {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 8;
}

#button_bar {
	height: 200px;
	background-color: #ebeff2;
}

#button_openclose {
	color: white;
	font-size: 20px;
	display: none;
}
.navv_txt{
	margin-top:10px;
}
#v-pills-tab {
	font-size: 2.3vw;
	font-size: 2.3vh;
	padding-top: 25px;
	text-align: center;
	margin-left: 10px;
	font-weight: bold;
}

#tab_txt {
	margin-left : 30px;
	margin-top:6px;
}

#v-pills-home {
	padding-top: 65px;
}

#v-pills-profile {
	padding-top: 38px;
}

#v-pills-messages {
	padding-top: 20px;
}

@media screen and (max-width: 1340px) {
	.nav_content {
		display: none;
	}
	.header_123:hover+.navbar_123 {
		display: none;
	}
	#button_openclose {
		display: block;
	}
	.mobile_button {
		display: block;
	}
}