<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfq.fund.dao.IContestDAO">
	<!-- select -->
	<select id="existContest" parameterType="String" resultType="String">
		SELECT CONTESTTYPE
		FROM CONTEST
		WHERE MEMBEREMAIL = #{email} AND PAYED = FALSE
	</select>
	<select id="existContestInfo" parameterType="String" resultType="com.kfq.fund.vo.ContestVO">
		SELECT ID,TITLE,CONTESTTYPE,COMPANY,SERVICEINFO,SECTOR,IDEA,BRIEFING
		FROM CONTEST
		WHERE MEMBEREMAIL = #{value} AND PAYED = FALSE
	</select>
	<select id="ContestName" parameterType="Integer" resultType="String">
		SELECT TITLE
		FROM CONTEST
		WHERE ID = #{value}
	</select>
	<select id="jointitleCheck" parameterType="String" resultType="Integer">
		SELECT COUNT(*)
		FROM WORK
		WHERE TITLE = #{value}
	</select>
	<select id="whocontest" parameterType="Integer" resultType="String">
		SELECT MEMBEREMAIL
		FROM CONTEST
		WHERE ID = #{value}
	</select>
	<select id="iscontestfinsh" parameterType="Integer" resultType="Integer">
		SELECT WINNER
		FROM CONTEST
		WHERE ID = #{value}
	</select>
	<select id="ContestInfo" parameterType="Integer" resultType="com.kfq.fund.vo.ContestVO">
		SELECT ID, CONTEST.TITLE, CONTEST.CONTESTTYPE, MEMBER.NICKNAME, CONTEST.COMPANY,
		CONTEST.SERVICEINFO, CONTEST.VIEWS, DATEDIFF(CONTEST.ENDDATE, CURDATE()),
		CONTEST.ENDDATE, CONTEST.FIRSTPRIZE, CONTEST.SECONDPRIZE, CONTEST.THIRDPRIZE,
		CONTEST.HIGHLIGHT,CONTEST.FULLPRIZE, CONTEST.PAYTYPE
		FROM CONTEST, MEMBER
		WHERE CONTEST.MEMBEREMAIL = MEMBER.EMAIL
		AND ID = #{value}
	</select>
	<select id="getTop5" parameterType="String" resultType="com.kfq.fund.vo.ContestVO">
		SELECT CONTEST.ID, CONTEST.TITLE, COUNT(WORK.CONTEST_ID), DATEDIFF(CONTEST.ENDDATE,CURDATE())
		FROM CONTEST LEFT JOIN WORK
		ON CONTEST.ID = WORK.CONTEST_ID
		WHERE CONTEST.ENDDATE > CURDATE()
		GROUP BY CONTEST.ID
		<if test="value == 1">
		ORDER BY COUNT(WORK.CONTEST_ID), DATEDIFF(CONTEST.ENDDATE,CURDATE()) DESC, CONTEST.ID DESC
		</if>
		<if test="value == 2">
		ORDER BY CONTEST.FIRSTPRIZE DESC, CONTEST.ID DESC
		</if>
		<if test="value == 3">
		ORDER BY CONTEST.STARTDATE 	DESC, CONTEST.ID DESC
		</if>
		LIMIT 5
	</select>
	<select id="listCnt" parameterType="Integer" resultType="Integer">
		SELECT COUNT(*)
		FROM CONTEST
		<if test="value == 1">
			WHERE ENDDATE > CURDATE()
		</if>
		<if test="value == 2">
			WHERE CURDATE() > CONTEST.ENDDATE AND WINNER IS NULL
		</if>
		<if test="value == 3">
			WHERE WINNER != 0
		</if>
	</select>
	<select id="showbenner" resultType="com.kfq.fund.vo.ContestVO">
		SELECT ID, TITLE,CONTESTTYPE, IMGURL
		FROM CONTEST
		WHERE ENDDATE > CURDATE() AND PAYED = 1
		ORDER BY CONTEST.SHOW DESC, CONTEST.STARTDATE DESC
	</select>
	<select id="listProceeding" parameterType="com.kfq.fund.vo.Pagination" resultType="com.kfq.fund.vo.ContestVO">
		SELECT CONTEST.ID, CONTEST.TITLE, CONTEST.CONTESTTYPE, MEMBER.NICKNAME, CONTEST.COMPANY,
		CONTEST.SERVICEINFO, CONTEST.VIEWS, DATEDIFF(CONTEST.ENDDATE, CURDATE()),
		CONTEST.ENDDATE, CONTEST.FIRSTPRIZE, CONTEST.SECONDPRIZE, CONTEST.THIRDPRIZE,
		CONTEST.HIGHLIGHT,CONTEST.FULLPRIZE, CONTEST.PAYTYPE
		FROM CONTEST, MEMBER
		WHERE CONTEST.MEMBEREMAIL = MEMBER.EMAIL AND 
		CONTEST.ENDDATE > CURDATE() AND PAYED = 1
		ORDER BY CONTEST.SHOW DESC, CONTEST.STARTDATE DESC
		LIMIT #{startList}, #{listSize}
	</select>
	<select id="listDecision" parameterType="com.kfq.fund.vo.Pagination" resultType="com.kfq.fund.vo.ContestVO">
		SELECT CONTEST.ID, CONTEST.TITLE, CONTEST.CONTESTTYPE, MEMBER.NICKNAME, CONTEST.COMPANY,
		CONTEST.SERVICEINFO, CONTEST.VIEWS, DATEDIFF(CONTEST.ENDDATE, CURDATE()),
		CONTEST.ENDDATE, CONTEST.FIRSTPRIZE, CONTEST.SECONDPRIZE, CONTEST.THIRDPRIZE,
		CONTEST.HIGHLIGHT,CONTEST.FULLPRIZE, CONTEST.PAYTYPE
		FROM CONTEST, MEMBER
		WHERE CONTEST.MEMBEREMAIL = MEMBER.EMAIL AND 
		CURDATE() > CONTEST.ENDDATE AND WINNER IS NULL AND PAYED = 1
		ORDER BY CONTEST.SHOW DESC, CONTEST.ENDDATE DESC
		LIMIT #{startList}, #{listSize}
	</select>
	<select id="listEndContest" parameterType="com.kfq.fund.vo.Pagination" resultType="com.kfq.fund.vo.ContestVO">
		SELECT CONTEST.ID, CONTEST.TITLE, CONTEST.CONTESTTYPE, MEMBER.NICKNAME, CONTEST.COMPANY,
		CONTEST.SERVICEINFO, CONTEST.VIEWS, DATEDIFF(CONTEST.ENDDATE, CONTEST.STARTDATE),
		CONTEST.ENDDATE, CONTEST.FIRSTPRIZE, CONTEST.SECONDPRIZE, CONTEST.THIRDPRIZE,
		CONTEST.HIGHLIGHT, CONTEST.FULLPRIZE, CONTEST.PAYTYPE
		FROM CONTEST, MEMBER
		WHERE CONTEST.MEMBEREMAIL = MEMBER.EMAIL AND WINNER != 0 AND PAYED = 1
		ORDER BY CONTEST.STARTDATE DESC
		LIMIT #{startList}, #{listSize}
	</select>
	<select id="searchworknum" parameterType="Integer" resultType="Integer">
		SELECT COUNT(CONTEST_ID)
		FROM WORK
		WHERE CONTEST_ID = #{value}
	</select>
	<select id="isworkexist" parameterType="Map" resultType="com.kfq.fund.vo.JoinVO">
		SELECT ID, TITLE, CONTENT, THUMBNAILURL
		FROM WORK
		WHERE CONTEST_ID = #{id} AND EMAIL = #{email}
	</select>
	
	<select id="allworkCnt" parameterType="Integer" resultType="Integer">
		SELECT COUNT(*)
		FROM WORK
		WHERE CONTEST_ID = #{id}
	</select>
	<select id="showworks" parameterType="Map" resultType="com.kfq.fund.vo.JoinVO">
		SELECT ID, TITLE, THUMBNAILURL
		FROM WORK
		WHERE CONTEST_ID = #{id}
		LIMIT #{startList}, #{listSize}
	</select>
	<select id="imgurl" parameterType="Integer" resultType="String">
		SELECT IMGURL
		FROM CONTEST
		WHERE ID = #{value}
	</select>
	<select id="insertlastContestid" parameterType="String" resultType="Integer">
		SELECT ID
		FROM CONTEST
		WHERE MEMBEREMAIL = #{value}
		ORDER BY ID DESC
		LIMIT 1;
	</select>
	
	<select id="getFiles" parameterType="Integer" resultType="com.kfq.fund.vo.FileVO">
		SELECT FNO, FILEORINAME, FILEURL
		FROM CONTESTFILE
		WHERE BNO = #{value}
	</select>
	<select id="getFile" parameterType="Integer" resultType="com.kfq.fund.vo.FileVO">
		SELECT FILENAME, FILEORINAME, FILEURL
		FROM CONTESTFILE
		WHERE FNO = #{value}
	</select>
	<!-- insert -->
	<insert id="insertContest" parameterType="com.kfq.fund.vo.ContestVO">
		INSERT INTO CONTEST(MEMBEREMAIL,TITLE, CONTESTTYPE,COMPANY,SERVICEINFO,SECTOR,IDEA,BRIEFING)
		VALUES(#{memberemail},#{title},#{contesttype},#{company},#{serviceinfo},#{sector},#{idea},#{briefing})
	</insert>
	<insert id="insertContestFile" parameterType="com.kfq.fund.vo.FileVO">
		INSERT INTO CONTESTFILE(BNO,FILENAME,FILEORINAME,FILEURL)
		VALUES(#{bno},#{filename},#{fileOriName},#{fileurl})
	</insert>
	<insert id="insertJoin" parameterType="com.kfq.fund.vo.JoinVO">
		INSERT INTO WORK(CONTEST_ID, EMAIL,TITLE, CONTENT, THUMBNAILURL)
		VALUES(#{contest_id},#{email},#{title},#{content},#{thumbnailurl})
	</insert>
	<!-- update -->
	<update id="updateContest" parameterType="com.kfq.fund.vo.ContestVO">
		UPDATE CONTEST
		SET TITLE = #{title}, CONTESTTYPE = #{contesttype}, COMPANY = #{company}, SERVICEINFO = #{serviceinfo}, SECTOR = #{sector}, IDEA = #{idea}, BRIEFING = #{briefing}
		WHERE ID = #{id}
	</update>
	<update id="updateContestprize" parameterType="com.kfq.fund.vo.ContestVO">
		UPDATE CONTEST
		SET CONTEST.SHOW = #{show}, HIGHLIGHT = #{highlight}, BENNER = #{benner}, STARTDATE = CURDATE(),
		ENDDATE = #{enddate}, FIRSTPRIZE = #{firstprize}, SECONDPRIZE = #{secondprize}, THIRDPRIZE = #{thirdprize}, 
		FULLPRIZE = #{fullprize},PAYTYPE = #{paytype}
		WHERE ID = #{id}
	</update>
	<update id="payed" parameterType="Integer">
		UPDATE CONTEST
		SET PAYED = 1
		WHERE ID = #{id}
	</update>
	<update id="viewincrease" parameterType="Integer">
		UPDATE CONTEST
		SET VIEWS = VIEWS + 1
		WHERE ID = #{value}
	</update>
	<update id="updateWinner" parameterType="Map">
		UPDATE CONTEST
		SET WINNER = #{winner}, IMGURL = #{imgurl}
		WHERE ID = #{id}
	</update>
	<!-- delete -->
	<delete id="deleteContest" parameterType="Integer">
		DELETE FROM CONTEST
		WHERE ID = #{value}
	</delete>
	<delete id="deleteContestFile" parameterType="Integer">
		DELETE FROM CONTESTFILE
		WHERE BNO = #{value}
	</delete>
</mapper>