<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kfq.fund.dao.IMemberDAO">
	<!-- select -->
	<!-- logincheck -->
	<select id="loginCheck" parameterType="com.kfq.fund.vo.MemberVO" resultType="String">
		SELECT EMAIL
		FROM MEMBER
		WHERE EMAIL = #{email} AND PASSWD = #{passwd} AND USERKEY = "Y"
	</select>
	<select id="checkuserclass" parameterType="String" resultType="String">
		SELECT USERCLASS
		FROM MEMBER
		WHERE EMAIL = #{value}
	</select>
	<!-- memberdata -->
	<select id="viewMember" parameterType="com.kfq.fund.vo.MemberVO" resultType="com.kfq.fund.vo.MemberVO">
		SELECT EMAIL, NICKNAME, DATE
		FROM MEMBER
		WHERE EMAIL = #{email} AND PASSWD = #{passwd}
	</select>
	<select id="findMember" parameterType="String" resultType="com.kfq.fund.vo.MemberVO">
		SELECT EMAIL, NICKNAME, DATE, IMGURL, WIN
		FROM MEMBER
		WHERE EMAIL = #{value}
	</select>
	<select id="getMemberlistCnt" parameterType="Map" resultType="Integer">
		SELECT COUNT(*) AS LISTCNT
		FROM MEMBER
		<if test="searchOption == 'EMAIL'">
			WHERE EMAIL LIKE CONCAT('%',#{keyword},'%')
		</if>
		<if test="searchOption == 'NICKNAME'">
			WHERE NICKNAME LIKE CONCAT('%',#{keyword},'%')
		</if>
		<if test="searchOption == 'USERCLASS'">
			WHERE USERCLASS == #{keyword}
		</if>
		<if test="searchOption == 'DATE'">
			WHERE DATE BETWEEN #{startdate} AND #{enddate}
		</if>
	</select>
	<select id="getPassword" parameterType="String" resultType="String">
		SELECT PASSWD
		FROM MEMBER
		WHERE EMAIL = #{value}
	</select>
	<!-- Memberlist(option) -->
	<select id="listMember" parameterType="Map" resultType="com.kfq.fund.vo.MemberVO">
		SELECT EMAIL, NICKNAME, USERCLASS, DATE
		FROM MEMBER
		<if test="searchOption == 'EMAIL'">
			WHERE EMAIL LIKE CONCAT('%',#{keyword},'%')
		</if>
		<if test="searchOption == 'NICKNAME'">
			WHERE NICKNAME LIKE CONCAT('%',#{keyword},'%')
		</if>
		<if test="searchOption == 'USERCLASS'">
			WHERE USERCLASS == #{keyword}
		</if>
		<if test="searchOption == 'DATE'">
			WHERE DATE BETWEEN #{startdate} AND #{enddate}
		</if>
		<if test="searchOption == 'EMAIL' and sortOption == 'ASC'">
			ORDER BY EAMIL
		</if>
		<if test="searchOption == 'EMAIL' and sortOption == 'DESC'">
			ORDER BY EMAIL DESC
		</if>
		<if test="searchOption == 'NICKNAME' and sortOption == 'ASC'">
			ORDER BY NICKNAME
		</if>
		<if test="searchOption == 'NICKNAME' and sortOption == 'DESC'">
			ORDER BY NICKNAME DESC
		</if>
		<if test="searchOption == 'DATE' and sortOption == 'ASC'">
			ORDER BY DATE
		</if>
		<if test="searchOption == 'DATE' and sortOption == 'DESC'">
			ORDER BY DATE DESC
		</if>
		LIMIT #{startList}, #{listSize}
	</select>
	<!-- searchMember -->
	<select id="findexistEmail" parameterType="String" resultType="Integer">
		SELECT EXISTS(
		SELECT *
		FROM MEMBER
		WHERE EMAIL = #{value})
	</select>
	<select id="findexistNickName" parameterType="String" resultType="Integer">
		SELECT EXISTS(
		SELECT *
		FROM MEMBER
		WHERE NICKNAME = #{value})
	</select>
	<!-- insert -->
	<insert id="insertMember" parameterType="com.kfq.fund.vo.MemberVO">
		INSERT INTO MEMBER(EMAIL,PASSWD,USERCLASS,NICKNAME,DATE) 
		VALUES(#{email},#{passwd},#{userclass},#{nickname},CURDATE())
	</insert>
	<!-- update -->
	<update id="GetKey" parameterType="Map">
		UPDATE MEMBER
		SET USERKEY = #{userkey}
		WHERE EMAIL = #{email}
	</update>
	<update id="updateUserkey" parameterType="Map">
		UPDATE MEMBER
		SET USERKEY = "Y"
		WHERE EMAIL = #{email} AND USERKEY = #{key}
	</update>
	<update id="updateMember" parameterType="com.kfq.fund.vo.MemberVO">
		UPDATE MEMBER
		SET PASSWD = #{passwd}, NICKNAME = #{nickname}, USERCLASS = #{userclass}
		WHERE EMAIL = #{email}
	</update>
	<update id="winnerMember" parameterType="String">
		UPDATE MEMBER
		SET WIN = WIN + 1
		WHERE EMAIL = #{value}
	</update>
	<!-- delete -->
	<delete id="deleteMember" parameterType="String">
		DELETE FROM MEMBER
		WHERE EMAIL=#{value}	
	</delete>
</mapper>