@charset "UTF-8";

.container {
	width: 100%;
	max-width: 1000px;
}

h2 {
	margin-bottom: 50px;
	text-align: center;
	font-weight: bold;
}

.hr1 {
	border: solid;
	height: 2px;
	background-color: #DEDEDE;
	margin-top: 3px;
}

.header {
	font-weight: bold;
	color: #DEDEDE;
}

.inner {
	margin-left: 60px;
	margin-right: 60px;
	padding-top: 50px;
	padding-bottom: 40px;
}

.text_type {
	font-weight: bold;
	font-size: 33px;
	padding-top: 30px;
	margin: 5px;
	font-alignment: left;
}

.text_add {
	font-alignment: left;
	margin-left: 5px;
	font-size: 15px;
	font-weight: bold;
}

.text_add1 {
	font-size: 12px;
	margin-left: 5px;
	padding-top: 12px;
}

.subtype {
	border-style: none;
	background-color: #F05F53;
	padding: 10px;
	font-weight: bold;
	text-align: center;
	color: white;
	font-size: 13px;
	width: 100%;
}

.subtype1 {
	border: 1px solid black;
	background-color: black;
	padding: 10px;
	margin-top: 15px;
	font-weight: bold;
	text-align: center;
	color: white;
	font-size: 15px;
	width: 30%;
}

.subtype1:hover {
	background-color: #676767;
}

.subtype2 {
	border-style: none;
	background-color: #676767;
	padding: 10px;
	font-weight: bold;
	text-align: center;
	color: white;
	font-size: 13px;
	width: 35%;
}

.subtype2:hover {
	background-color: #F05F53;
}

.subtype3 {
	background-color: white;
	padding: 10px;
	margin-left: 39%;
	margin-top: 15px;
	font-weight: bold;
	text-align: center;
	color: black;
	font-size: 15px;
	width: 30%;
	border: 1px solid black;
}

.subtype3:hover {
	background-color: #EAEAEA;
}

.sub3 {
	font-size: 11px;
	color: RED;
	font-weight: bold;
	margin-top: 15px;
}

.title {
	display: inline-block;
}

#exampleInputEmail1 {
	width: 100%;
}

#exampleInputPassword1 {
	width: 100%;
}

#exampleInputPassword2 {
	width: 40%;
}

#content {
	width: 100%;
	line-height: 1.5;
	font-size: 14px;
}

.input {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 5px;
}

.sub_input {
	font-size: 11px;
	font-weight: bold;
	color: #747474;
	margin-left: 3px;
	margin-top: 5px;
}

.form-control1 {
	display: inline;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control2 {
	display: block;
	padding: .375rem .75rem;
	font-weight: 400;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.text_agree {
	font-weight: bold;
	font-size: 14px;
}

.text_agree1 {
	font-size: 12px;
	margin-left: 13px;
	font-weight: bold;
}

#defaultCheck1 {
	margin-left: 0px;
}

.agree_more {
	color: red;
	font-size: 12px;
	text-decoration: underline;
}

.agree_more:hover {
	color: red;
}

label {
	font-size: 14px;
}

.imgs_wrap {
	margin-top: 50px;
}

.imgs_wrap img {
	max-width: 200px;
}

input[type="file"] {
	display: block;
}

.imageThumb {
	max-height: 75px;
	padding: 1px;
}

.pip {
	display: inline-block;
	margin: 10px 10px 0 0;
}

.remove {
	display: block;
	color: #C12020;
	font-weight: bold;
	text-align: right;
	cursor: pointer;
	font-size: 12px;
	margin-top: 7px;
}

.remove:hover {
	color: black;
}