@charset "UTF-8";
	.container{
		width: 100%;
		max-width:1000px;
	}
	h2{
		font-weight:bold;
		margin-bottom:50px;
		text-align:center;
	}
	.hr1{
		border:solid;
		height:2px;
		background-color:#DEDEDE;
		margin-top:3px;
	}
	.header{
		font-weight:bold;
		color:#DEDEDE;
	}
	.inner{
	    margin-left:60px;
	    margin-right:60px;
	    padding-top:50px;
	    padding-bottom:50px;
	}
	.desc {
	    padding: 30px;
	    line-height: 30px;
	    font-size: 17px;
	    font-weight: 700;
	}
	.text_type{
		font-weight:bold;
		font-size:33px; 
		padding-top:30px;
		margin:5px;
		font-alignment:left;
	}
	.text_add{
		font-alignment:left;
		margin-left:5px;
		font-size:13px;
		color:#666666;
	}
	.subtype{
		border-color:#cbcbcb;
		border-style:solid;
		background-color:white;
		padding:20px;
		font-weight:bold;
		margin-bottom:10px;
		text-align:left;
	}
	.sub1{
		font-size:13px;
	}
	.sub2{
		color:red;
		font-size:13px;
	}
	.sub3{
		font-size:11px;
		color:#666666;
	}
	.sub4{
		font-weight:bold;
		font-size:13px;
		margin-bottom:5px;
	}
	.detail{
		margin-left:18px;
	}
	.subtype:hover{
		border-color:#636978;
	}
	.title{
		display:inline-block;
	}
	img{
		display:inline-block;
		float:left;
		margin-top:10px;
		margin-right:7px;
	}
	.check{
		display:inline-block;
		float:left;
		margin-top:0;
		margin-right:10px;
	}
	.startprice {
	    font-size: 14px;
	    color: #fff;
	    position: absolute;
	    right: 11px;
	    top: 12px;
	    background-color:black;
	    padding: 9px 7px 9px 20px;
	    font-weight: normal;
	}
	#p1{
		top:90px;
	}
	#p2{
		top:248px;
	}
	#p3{
		top:407px;
	}
	#p4{
		top:90px;
	}
	#p5{
		top:167px;
	}
	#p6{
		top:90px;
	}
	#p7{
		top:170px;
	}
	#p8{
		top:90px;
	}
	#p9{
		top:167px;
	}
	#p10{
		top:245px;
	}
	#p11{
		top:90px;
	}
	#p12{
		top:167px;
	}