@charset "UTF-8";
body {
	margin: 0px auto;
	width: 100%;
	background-color: #ebeff2;
}

img {}

div {}

textarea {}

.display_open {
	display: block;
}

.display_close {
	display: none;
}

/*lay-out*/

.padding_zero {
	padding: 1px;
}

.first_layout {

	padding-top: 50px;
	width: 75%;
	margin: 0px auto;
}

/*lay-out*/

.brief_head {
	background-color: white;
	padding: 5% 1%;
}

.head_img {
	padding: 0% 0%;
}

.head_img_1 {}

.head_title {
	font-size: 24px;
}

.head_tap {
	padding: 10px;
}

.head_tap_st {
	text-align: center;
	border: 1px solid #cccccc;
	border-radius: 20px;
	padding: 10px 0px;
	font-weight: bold;
}

.head_tap_st:hover {

	border: 1px solid #FF5D5D;

}

.head_tap_st:active {

	background-color: #FF5D5D;

}

.head_tap_click_st {

	background-color: #FF5D5D;
	color: white;

}

.head_tap_content {
	padding: 25px 30px;

}


.head_tap_content_title {
	font-size: 18px;
	font-weight: bold;
}

.head_tap_content_text {
	padding-top: 13px;
}


.span_st_1 {
	color: #FF5D5D;
	background-color: #eeeeee;

}

/*head*/

.main {
	margin-top: 50px;
	background-color: white;
	padding: 5% 2%;
}



/*item_box*/
.contest_list_item_roof {
	margin-top: 5%;


}

.contest_list_item {

	border: 1px solid #cccccc;
	border-radius: 5px;
	padding: 10px;
}

.item_box_category {
	color: #FF5D5D;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.item_box_contestTitle {

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}


.item_content_roof {
	margin-top: 5%;
}

.item_content_tail_roof {
	padding-top: 10%;
}

.item_box_contestReward {
	text-align: center;
}

.item_box_contestPeriod {
	text-align: center;
}

.item_box_joinCount {
	text-align: center;

}


/*item_box*/
/*breif-content*/


.briefing {
	margin: 5% 0%;
}

.briefing_title {
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 5px;
}

.briefing img {
	width: auto;
	height: auto;
}

.brief_content_item_title {
	font-size: 16px;
	font-weight: bold;
}

.brief_content {

	padding: 5% 2%;
	border: 1px solid #cccccc;
}

.brief_content_item_text_1 {
	width: 100%;
	height: auto;
	border: 0px;
	overflow-y: hidden;
}

.brief_content_item_text_2 {
	width: 100%;
	height: 100%;
	border: 0px;
	overflow-y: hidden;
}

.brief_content_item_text_3 {
	width: 100%;
	height: 150px;
	border: 0px;
	overflow-y: hidden;



}

.form-control {
	border: 0px;
}

.form-control:focus {
	color: #495057;
	background-color: #fff;
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 0px rgba(0, 123, 255, .25);
}

.form-control:disabled,
.form-control[readonly] {
	background-color: white;
	opacity: 1;
}

.animated {
	-webkit-transition: height 0.2s;
	-moz-transition: height 0.2s;
	transition: height 0.2s;
}

.btn {
	font-size: 24px;
	font-weight: bolder;
	width: 100%;
	padding: 5%;
}


.join_step1_checkbox {
	width: 100%;

}

.brief_content_item_2 {
	margin-top: 5%;
	margin-bottom: 5%;
}


/* downBox*/
.downTitle {
	padding-top: 3.5%;
	padding-bottom: 3.5%;
	
	text-align: center;
}
.downBox{
	padding: 15px;
}
.downBtn {
	border: 1px solid #DEDEDE;
	border-radius: 5px;
}

.downBorder {

	border: 1px solid #DEDEDE;

}

.downBoxTitle {
	margin-top: 5%;
	
}




/**/

@import url("https://fonts.googleapis.com/css?family=Rubik:700&display=swap");
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
  background: #fff;
}

button {
  font-family: "Rubik", sans-serif;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}
button.learn-more {
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: #fff0f0;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.learn-more::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f9c4d2;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.learn-more:hover {
  background: #ffe9e9;
  transform: translate(0, 0.25em);
}
button.learn-more:hover::before {
  box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
  transform: translate3d(0, 0.5em, -1em);
}
button.learn-more:active {
  background: #ffe9e9;
  transform: translate(0em, 0.75em);
}
button.learn-more:active::before {
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  transform: translate3d(0, 0, -1em);
}