@charset "UTF-8";
.logincontainer .social_icon{
	width: 24px!important;
	height: 24px!important;
}
.logincontainer {
	width: 100%;
}

.logincontainer .btn_login {
	padding-top: 6px;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 6px;
	height: 50px;
}

.logincontainer .btn {
	height: 50px;
}

.logincontainer #exampleInputEmail1::placeholder {
	color: #BDBDBD;
}

.logincontainer #exampleInputPassword1::placeholder {
	color: #BDBDBD;
}

.logincontainer h1{
	margin-left:5px;
	text-align:center;
}

.logincontainer .text-reset{
	padding-left:25px;
}

.logincontainer .col-2{
	padding-left:25px;
}

.logincontainer .text-center span{
	color: tomato;
	font-weight:bold;
}